@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.win-dialog {
    font-family: "Sour Gummy", sans-serif;
    font-size: calc(1.5vh + 1vmin);
    color: #C1D736;
    background: #AE8DC0;
    border: 10px solid #3C1642;
    padding: 20px;
    width: 70%;
    max-width: 80vh;
    border-radius: 30px;
    z-index: 1001;
    transform: translateY(-22.5%);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-shadow:
        -2px -2px 0 #3C1642,
        2px -2px 0 #3C1642,
        -2px 2px 0 #3C1642,
        2px 2px 0 #3C1642,
        -3px 0px 0 #3C1642,
        3px 0px 0 #3C1642,
        0px -3px 0 #3C1642,
        0px 3px 0 #3C1642;
}

@media (max-width: 900px) {
    .win-dialog {
        width: 80%;
        max-width: 60vh;
    }
}

.win-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.win-smaller-text {
    text-shadow: none;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
}

.win-info p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.win-button {
    font-family: "Sour Gummy", sans-serif;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: 3px solid #3C1642;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.win-button:hover {
    background-color: #e3ccee;
}

.win-button:active {
    vertical-align: top;
    transform: scale(0.95);
    transition: transform 0.2s;
}

.win-icons {
    font-size: calc(5vh + 1vmin);
    margin: 10px;
}