.settings-row {
    font-family: "Sour Gummy", sans-serif;
    font-size: calc(1.8vh + 1vmin);
    color: #3C1642;
    margin-top: 2px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 700px) {
    .settings-row {
        flex-direction: column;
        gap: 5px;
        font-size: calc(1.5vh + 1vmin);
    }

    .settings-button {
        font-size: calc(1.5vh + 1vmin);
    }
}

.settings-element {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

}

.settings-button {
    font-family: "Sour Gummy", sans-serif;
    font-size: calc(1.75vh + 1vmin);
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 10px;
    background: #eaf3b4;
    color: #C1D736;
    width: max-content !important;
}

.settings-button:hover {
    color: #8e9e28;
}

.icons {
    font-size: calc(1.5vh + 1vmin);
    margin-right: 5px;
}