body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: #faf5ec;
}

.sudoku {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
}

.main-space {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media (max-width: 900px) {
  .sudoku {
    flex-direction: column;
  }

  .main-space {
    order: 2;
    flex: 1;
  }
}