body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: #faf5ec;
}

.sudoku {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
}

.main-space {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.settings-icons {
  font-size: calc(1.5vh + 1vmin);
  margin-right: 5px;
}