.numbers-row {
    background-color: #AE8DC0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 6px solid #3C1642;
    gap: 2px;
}

.number-button {
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
    font-weight: 500;
    aspect-ratio: 1;
    border-radius: 15px;
    width: min(6vh, 7.5vw);
    font-size: calc(1.8vh + 1.2vmin);
    background: #faf5ec;
    border: transparent;
    border: 3px solid #3C1642;
}

.number-button:hover {
    background-color: #e3cce3;
}

.number-button:active {
    vertical-align: top;
    transform: scale(0.95);
    transition: transform 0.2s;
}

.icon {
    font-size: calc(1.8vh + 1vmin);
    display: flex;
    justify-self: center;
}