.overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.dialog {
    background: plum;
    padding: 50px;
    position: fixed;
    z-index: 1001;
    border-radius: 15px;
}