.sudoku-board {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    margin: 10px;
    width: min(70vh, 75vw);
    border-radius: 30px;
    border: 8px solid #1D201F;
    box-sizing: content-box;
}

.sudoku-row {
    display: contents;
}

.sudoku-row:nth-child(3n) .sudoku-square {
    border-bottom: 6px solid #1D201F;
}

.sudoku-row:nth-child(3n):nth-child(9) .sudoku-square {
    border-bottom: none;
}

button.sudoku-square {
    font-family: "Sour Gummy", sans-serif;
    outline: none;
    border: none;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D201F;
    font-size: calc(2vh + 2vmin);
    border-right: 3px solid #1D201F;
    border-bottom: 3px solid #1D201F;
}

.sudoku-square.untouchable {
    color: #1D201F;
    background: #C8AFD4;
}

.sudoku-square.hint {
    background-color: #C1D736;
    animation: fadeToWhite 1s ease-in-out forwards;
}

@keyframes fadeToWhite {
    to {
        background-color: transparent;
    }
}

.sudoku-square.mistake {
    background: rgb(241, 69, 69);
    animation: fadeToRed 0.75s ease-in-out forwards;
}

@keyframes fadeToRed {
    to {
        color: rgb(241, 69, 69);
        background-color: rgb(245, 177, 177);
    }
}

.sudoku-square.active {
    background: #D5E477 !important;
}

.sudoku-row:first-child .sudoku-square:first-child {
    border-top-left-radius: 20px;
}

.sudoku-row:first-child .sudoku-square:nth-child(9) {
    border-top-right-radius: 20px;
}

.sudoku-row:last-child .sudoku-square:first-child {
    border-bottom-left-radius: 20px;
}

.sudoku-row:last-child .sudoku-square:nth-child(9) {
    border-bottom-right-radius: 20px;
}

.sudoku-square:nth-child(3n) {
    border-right: 6px solid #1D201F;
}

.sudoku-square:nth-child(3n):nth-child(9) {
    border-right: none;
}